@import "../../scss/variables.scss";

.portada {
    &__flex {
        display: flex;
        background-image: url(../../assets//Fotos/portadaOp4.png);
        background-position: center;
        height: 62.5rem;
    }
        &__flex{
            display: flex;
        }
            &__titulo {
                color: white;
                font-family: $letraPrincipal;
                font-size: 8rem;
                margin-left: 50rem;
                margin-top: 20rem;
                z-index: 3;
                
        
                &--blanco {
                    color: $colorAzul;
                    margin-left: 1rem;
                
            }
        }
   

   
    
    
}
