@import "../../scss/variables.scss";

.portada {
    height: 40.5vw;
    &__flex {
        display: flex;
        background-image: url(../../assets//Fotos/portadaOp4.png);
        background-position: center;
        background-size: 100vw;
        height: 100%;
        justify-content: center;
    }
        &__flex{
            display: flex;
        }
            &__titulo {
                color: white;
                font-family: $letraPrincipal;
                font-size: 5.2vw;
                
                z-index: 3;
                align-self: center;
                
        
                &--blanco {
                    color: $colorAzul;
                    margin-left: 1rem;
                
            }
        } 
}

    
@media (max-width: 900px) {
    .portada{
        &__titulo{
            font-size: 9vw;
        }
    }

}
