@import "../../scss/variables.scss";

.sobreNosotros{
    font-family: $letraPrincipal;
    font-size: 6rem;
    margin-left: 5rem;
    margin-top: 5rem;
    color:white;

    &__azul{
        margin-left: 7vw;
        margin-top: -2.5rem;
    }

    &__texto{
        margin-top: 5rem;
        margin-right: 5rem;
        margin-left: 5rem;
    }

    &__cuerpo{
        font-family: $letraPrincipal;
        font-size: 2.5rem;
        color: white;
        
        
        
        line-height: 3rem;
        text-align: justify;
    }

    &__contenedor{
        justify-content: center;
        display: flex;
    }

}

@media (max-width: 900px) {
    .sobreNosotros {

        &__azul{  
            width: 50%;
        } 
        
        &__texto{
            margin-top: 3rem;
        }
    }
}


@media (max-width: 450px) {
    .sobreNosotros {
        margin-left: 2rem;
        margin-top: 2rem;
        font-size: 4rem;

        &__cuerpo{
            font-size: 2rem;
        }

        &__texto{
            margin-top: 2rem;
            margin-left: 2rem;
            margin-right: 2rem;
            font-size: 1.5rem!important;

        }
    }
}