

.carousel{

    
    margin-top: 5rem;
    display: flex;
    height: 35vw;
    width: 60vw;
    
    &__flechas{
        width: 50%;
    }
   
}


@media (max-width: 450px) {
    .carousel {
        height: 50vw;
        width: 85vw;
        
    }
}