@import url(https://allfont.es/allfont.css?fonts=agency-fb);

.navbar{
   
    width: 100%;
    height: 13rem;
    padding: 0;
    background-color: black;

    &__row{
        display: flex;
    }
        &__logo{
                width: 90%;
                margin-left: 2.8vw;
        }
    
    &__contenedor{
        padding-right: 40px;
    }

        &__superior{
            height: 6rem;
        }

            &__lista{
                        list-style: none;
                        color: white;
                        display: flex;
                        height: 100%;
                        justify-content: flex-end;
                        margin-bottom: 0px;
                        
            }            
                        
                &__li{
                    display:flex;
                    align-items: center;
                }

                    &__palito{
                        font-size: 3rem;
                        padding-bottom: 8px;
                        font-weight: 100;
                        
                    }

                    &__lenguajes{
                        font-size: 1.5rem;
                        font-family: 'Poppins';
                        margin-left: 0.7rem;
                        margin-right: 0.7rem;
                        cursor: pointer;
                    }
        
        &__inferior{
            height: 6rem;
            display: flex;
            justify-content: flex-end;
            align-items: center; // vertical aligment
        }    

            &__instagram{
                width:  3rem;
                margin-right: 2rem;
                cursor: pointer;
            }
                    
        &__linea{
            margin:0;
            border-top: 1px solid white;
            opacity: 1;
            margin-left: 4vw;
           
        }            
    }
            
        
    

    
@media (max-width: 900px) {
    .navbar {

        height: 11rem;

        &__row{
            display: flex;
            align-items: center;
        }

        &__logo{  
            width: 100%;
            margin-left: 0;
        } 

        &__contenedor{
            padding: 0;
        }

        &__superior{
            height: 5.5rem;
        }

            &__lenguajes{
                font-size: 1.2rem;
            }

        &__inferior{
            height: 5.5rem;
        }    

            &__instagram{
                width: 2.7rem;
            }

    }
}




