.mapa{
    
    margin-top: 5rem;
   

    &__titulo{
       
            font-family: $letraPrincipal;
            font-size: 6rem;
            color: white;
            margin-left: 5rem;
        
    }

    &__lineaAzul{
        margin-top: -2.5rem;
        margin-left: 10rem;
        margin-bottom: 3rem;
    }

  

    &__centro{
        align-self: center;
        text-align: -webkit-center;
    }

    &__contenedorDirecc{
        width: 35rem;
        display: flex;
              
            
        }
        &__direccion{
            font-family: $letraPrincipal;
            font-size: 4.5rem;
            color: white;
            text-align: center;    
    }

    &__mapouter{
        display: flex;
        justify-content: center;
    
    }
        &__iframe{
            width: 40vw;
            height: 35vw;
            
            /* 618 * 578 */
        }
    

}

@media (max-width: 500px) {
    .mapa {
      
        &__iframe{
            width: 30rem;
            height: 20rem;
        }

        &__titulo{
            font-size: 4rem;
            margin-left: 2rem;
        }

        &__lineaAzul{
            width: 50%;
            margin-left: 7vw;
            margin-top: -1rem;
        }

        &__direccion{
            font-size: 3.3rem;
        }



       
    }
}

@media (max-width: 350px) {
    .mapa {
        &__contenedorDirecc{
            width: 25rem;
        }
    }
}