.card{
    width: 60rem;
    height: 55rem;
    background-color: white;
    border: none;
    border-radius: 20px;
    margin-top: 2rem;

    

        &__background{
            width: 100%;
            height: 70%;
            background-color: #101010;
           
                & img {
                    border-radius: 20px 20px 0px 0px;
                }
               
             
        }
    
        &__titulo{
            font-family: $letraPrincipal;
            font-size: 3rem;
            margin-left: 3.5rem;
            margin-top: 2.6rem;
        }

        

}

@media (max-width: 500px) {
    .card {
        width: 90%;
        height: auto;

       
    }
}
