
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Volkhov:wght@700&display=swap');



$colorAzul: #2F89F9;
$letraPrincipal: 'Poppins';
$letraSecundaria: 'Poppins';