
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Volkhov:wght@700&display=swap');
@import url('https://www.dafontfree.net/embed/YWdlbmN5LWZiLXJlZ3VsYXImZGF0YS8xMy9hLzY0MzY5L0FHRU5DWVIuVFRG');



$colorAzul: #2F89F9;
$letraPrincipal: 'agency-fb-regular', sans-serif;
$letraSecundaria: 'Poppins';